!!! 5
html
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title &mu;Prose
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
      |<!--if lt IE 9-->
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      |<![endif]-->
      link(rel='stylesheet', href='css/main.css')
   body
      #startScreen
         hr
         h1 &mu;Prose - blogging simplified.
         p No &mu;Prose blog was found. Please create one with the <a href="/builder/">builder</a>.

         footer
            small <a href="http://brandonkowalski.com/uProse/" target="_new">&mu;Prose v.1</a>
