!!! 5
html(ng-app='uprose')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title μProse
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lt IE 9
    script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', href='css/main.css')
body
  .wrapper
    header(ng-controller='ConfListCtrl')
      div(ng-repeat='x in uprose')
        h1 {{x.headline}}
        p(ng-bind-html-unsafe="x.tagline")
        p(ng-bind-html-unsafe="x.social")
    section(ng-controller='EntryListCtrl')
      article(ng-repeat='y in entries')
        h3 {{y.entry.title}}
        div(ng-bind-html-unsafe="y.entry.body")
        small <br>posted by {{y.meta.author.firstName}} on {{y.meta.postedOn}}<br>tags: {{y.meta.tags}}
        hr
    footer(ng-controller='ConfListCtrl')
      div(ng-repeat='z in uprose')
        p(ng-bind-html-unsafe="z.copy")
  script(src='js/u.js')
