!!! 5
html(ng-app='uprose')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title μProse Builder
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lt IE 9
    script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/jquery-ui-1.8.16.custom.css')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    
body
  .wrapper(ng-controller='EntryCtrl')
    header
      h1 μProse Builder
      div(ng-repeat='x in entries')
        h4 {{x.entry.title}}
        button(ng-click='active(x.entry)')
    section
      input#titleInput(ng-model='activeEdit.entry.title', type='text')
      #editor
    footer
      small Powered by μProse. 
  script(src='js/lib.js')
  script(src='js/u.js')
  script
    jQuery(document).ready(function() {
      jQuery('#editor').hallo({
        plugins: {
          'halloformat': {},
          'hallolists': {},
          'halloreundo': {}
        }
      });
    });
     