<!DOCTYPE html>
<html ng-app="uprose">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>μProse</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--if lt IE 9-->
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
</html>
<body>
  <div class="wrapper">
    <header ng-controller="ConfListCtrl">
      <div ng-repeat="x in uprose">
        <h1>{{x.headline}}</h1>
        <p ng-bind-html-unsafe="x.tagline"></p>
        <p ng-bind-html-unsafe="x.social"></p>
      </div>
    </header>
    <section ng-controller="EntryListCtrl">
      <article ng-repeat="y in entries">
        <h3>{{y.entry.title}}</h3>
        <div ng-bind-html-unsafe="y.entry.body"></div><small><br>posted by {{y.meta.author.firstName}} on {{y.meta.postedOn}}<br>tags: {{y.meta.tags}}</small>
        <hr>
      </article>
    </section>
    <footer ng-controller="ConfListCtrl">
      <div ng-repeat="z in uprose">
        <p ng-bind-html-unsafe="z.copy"></p>
      </div>
    </footer>
  </div>
  <script src="js/u.js"></script>
</body>